body {
    margin: 0;
    padding: 0;
}

#contenedor {
    width: 500px;
    min-height: 200px;
    background: grey;
    margin: 0 auto;
    padding: 1px;
}

#cabecera {
    height: 60px;
    background: green;
    margin-top: 20px;
}