/*img {
    padding: 10px;
    border: 1px solid red;
    background: gray;
    display: inline;
}*/

.contenedor {
    width: 400px;
    min-height: 50px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

