#contenedor {
    width: 400px;
    min-height: 100px;
    background: gray;
}

.float1 {
    width: 300px;
    height: 300px;
    background: green;
    float: left;
}

.float2 {
    width: 100px;
    height: 300px;
    background: yellow;
    float: right;
}

#contenedor >div {
    opacity: 0.4;
}

.clear {
    clear: both;
}