.container{
    width: 500px;
/*    position: absolute;
    bottom: 0px;
    top: 0px;*/
    min-height: 600px;
    background: #cca;
    margin: 0 auto
}

.name{
    width: 350px;
    height: 50px;
    background: brown;
}

.name {
    width: 350px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
}

.personal-data{
    width: 350px;
    height: 110px;
    font-size: 14px;
    background: rgb(42, 165, 69);
}

.photo{
    width: 150px;
    height: 177px;
    background: blue;
}

.photo{
    position: absolute;
    top: 0px;
    right: 0px;
    /*left: 0px;*/
    max-height: 160px;
    max-width: 150px;
}

.img-photo{
    max-height: 150px;
    max-width: 150px;
}

.Informacion-Personal{
    display: box;
    color: black;
    max-height: 300px;
    
    overflow: auto;
}

h1, h2{
    padding: 0px;
    margin: 0px;
}

.contacto{
    width: 500px;
    height: 200px;
    background: pink;
}

.contacto{
    position: absolute;
    bottom: 0px;
    display: box;
}